<p>Olá!.</p>

<p>
  Estas a receber este email porque pediste para recuperar a password da tua
  conta do alumniFixes.
</p>

<p>
  Recupera a password do teu registo através do seguinte link:
  <a href="<%= @reset_url %>"><%= @reset_url %></a>.
</p>
