<p>Olá <%= @mentor.name %>! Bem vindo ao programa de mentores e mentorados, solteiros e casados.</p>

<p>Por favor confirma o teu registo com o token <%= @confirmation_url %>.</p>

<p>Spicy jalapeno bacon ipsum dolor amet boudin drumstick meatloaf jowl pastrami, pig turducken. Tail salami meatball, strip steak short loin ball tip chicken cow ham. Chicken beef picanha short ribs pork belly pancetta. Sirloin short loin ball tip kevin chuck flank kielbasa alcatra. Jowl picanha pork pork belly capicola fatback tri-tip pastrami brisket. Ground round doner ribeye capicola drumstick tenderloin strip steak tail pastrami corned beef shank venison short ribs. Filet mignon leberkas tri-tip alcatra landjaeger, prosciutto frankfurter tongue swine kevin short ribs pork loin.</p>

<p>Sausage beef spare ribs shankle burgdoggen beef ribs capicola leberkas swine short loin picanha. Porchetta t-bone tail pastrami, kevin chicken pig. Ground round flank jerky, pork picanha prosciutto pastrami kielbasa drumstick meatball porchetta hamburger tenderloin beef sausage. Landjaeger cow filet mignon sausage strip steak hamburger. Swine jerky sausage jowl brisket kielbasa. Picanha porchetta prosciutto jowl meatloaf drumstick filet mignon venison cow.</p>
